.nav-tabs {
    display: flex;
    /* background: #f5f5f5; */
    border-bottom: 1px solid #ddd;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-tab {
    padding: 1rem 2rem;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1rem;
    color: #0b4458;
}

.nav-tab.active {
    border-bottom: 2px solid #0b4458;
    color: black;
}

.content-section {
    padding: 1rem;
}

.media-item {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.media-image {
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.media-info {
    flex: 1;
}

.star {
    color: gold;
}