<div class="form-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="multiFrom">
    <!-- Usuario que crea -->
    <div class="form-group">
      <label for="creado">Creado por: </label>
      <img [src]="imagen_perfil" alt="Imagen de perfil">
      <input type="text" id="creado" name="creado" [value]="username" readonly>
    </div>
    <!-- Título -->
    <div class="form-group">
      <label>Título*</label>
      <input type="text" formControlName="titulo" class="form-input" required>
    </div>
    <!-- Autor de la obra -->
    <div class="form-group">
      <label>Autor*</label>
      <input type="text" formControlName="autor_obra" class="form-input" required>
    </div>
     <!-- Disponibilidad -->
    <div class="form-group">
      <label>Disponibilidad *</label>
      <select formControlName="disponibilidad" class="form-input" required>
        <option value="" disabled>Selecciona una opción</option>
        <option value="disponible">Disponible</option>
        <option value="proximamente">Próximamente</option>
      </select>
    </div>
    <!-- Tipo multimedia -->
    <div class="form-group">
      <label>Tipo multimedia*</label>
      <select formControlName="tipo" class="form-input" required>
        <option value="" disabled>Selecciona una opción</option>
        <option value="pelicula">Pelicula</option>
        <option value="videojuego">Videojuego</option>
        <option value="serie">Serie</option>
        <option value="libro">Libro</option>
      </select>
    </div>
    <!-- Tipos de libro -->
    <div class="form-group" *ngIf="multiFrom.get('tipo')?.value === 'libro'">
      <label>Tipo libro*</label>
      <select formControlName="tipolibro" class="form-input" >
        <option value="">Selecciona una opción</option>
        <option *ngFor="let tipo of tipolibros" [value]="tipo.id">
          {{ tipo.nombre }}
        </option>
      </select>
    </div>
    <!-- Géneros -->
    <div class="form-group">
      <label>Géneros*</label>
      <small>Puedes seleccionar hasta 5 géneros</small>
      <select multiple formControlName="generos" class="form-input" (change)="onGeneroChange($event)" required>
        <option *ngFor="let genero of generosDisponibles" [ngValue]="genero.id">
          {{ genero.nombre }}
        </option>
      </select>
    </div>
    <!-- Comentarios -->
    <div class="form-group">
      <label>Comentarios*</label>
      <select formControlName="permite_comentarios" class="form-input" required>
        <option value="yes">Sí</option>
        <option value="no">No</option>
      </select>
    </div>
    <!-- Fecha de creación -->
    <div class="form-group">
      <label>Creado</label>
      <div class="fechahora">
        <input type="date" formControlName="fechaCreacion" class="fecha" required>
        <input type="time" formControlName="horaCreacion" class="hora" required>
      </div>
    </div>
    <!-- URL IMG -->
    <div class="form-group">
      <label>URL IMG</label>
      <input type="text" formControlName="imagen_url" class="form-input">
    </div>
    <!-- Contenido -->
    <div class="form-group content-area">
      <label>Contenido</label>
      <textarea formControlName="contenido" class="form-textarea"></textarea>
    </div>
    <button type="submit" class="submit-button">guardar</button>
  </form>
</div>
