* {
    text-decoration: none;
    list-style: none;
}

/* TODO MENU */
header {
    margin:auto 30px; 

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav ul {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hea-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul li {
    padding: 0px 4.3px;
}

.hea-div li {
    padding: 0px 1.6px;
}

.logo a {
    color: #D90DA2;
    padding-right: 59rem;
}

.logo a:hover {
    color: #06ADBF;
    text-decoration: none;
}

a:hover {
    color: #BF303C;
    text-decoration: underline;
}

.hea-div li button {
    background-color: #06ADBF;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

li button a {
    color: white;
}



/*TODO MENU DE REGISTRASESE */
.iniciar {
    display: flex;
}

.iniciar li button {
    background-color: #06ADBF;
    border-radius: 30px;
    font-size: 15px;
    color: white;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.iniciar li button a {
    text-decoration: none;
    color: white;
}

.iniciar li button a:hover {
    color: black;
}


.header {
    display: flex;
}

.profile-dropdown {
    position: relative;
    display: inline-block;
}

.profile-button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}



.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 160px;
    border-radius: 4px;
    z-index: 1000;
}

.dropdown-menu a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}



.input-wrapper {
    
    display: flex;
    align-items: center;
    
    
    position: relative;
}

.input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: .5s ease-in-out;
    background-color: #7e4fd4;
    box-shadow: 0px 0px 3px #f3f3f3;
    padding-right: 40px;
    color: black;
}

.input::placeholder,
.input {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
}

.input::placeholder {
    color: black;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: .2s linear;
}

.icon:focus~.input,
.input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #7e4fd4;
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}