<header>
    <nav>
        <ul>
            <li class="logo"><a [routerLink]="['/home']" (click)="onHomeClick()">Gestiona tus P.S.L.V</a></li>

            <!-- TODO NO HAY LOGIN -->
            <div class="hea-div" *ngIf="!isLoginPage && !isRegistroPage">

                <li><a [routerLink]="['/novedades']">Nuevos Lanzamientos</a></li>
                <li><a [routerLink]="['/multimedia']">Multimedia</a></li>
                <div class="hea-div" *ngIf="!isLoggedIn">

                    <li>
                        <button><a [routerLink]="['/login']" (click)="onLonginClick()">Iniciar Sesion</a></button>
                    </li>
                    <span class="separador"> | </span><br class="salto-linea">
                    <li>
                        <button><a [routerLink]="['/signup']" (click)="onRegistroinClick()">Registrarse</a></button>
                    </li>
                </div>
            </div>

            <!-- TODO HAY LOGIN -->
            <div class="hea-div" *ngIf="isLoggedIn">
                <!-- TODO: SOLO USUARIOS -->
                <div class="view-user" *ngIf="role === 'user'">
                    <a [routerLink]="['/mibiblioteca', username]">Mi Biblioteca</a>
                </div>


                <!-- TODO: SOLO PROVEEDORES -->
                <div class="view-pro" *ngIf="role === 'proveedor'">
                    <a [routerLink]="['components/paneles/proveedor/panel-proveedor']">Panel Proveedor</a>
                </div>


                <!-- TODO: SOLO ADMIN -->
                <div class="view-admin" *ngIf="role === 'admin'">
                    <a [routerLink]="['components/paneles/admin/admin-panel']">Panel Administrador</a>

                </div>

                <!-- TODO: Visiblidad para todos los usuarios -->
                <div class="profile-dropdown">
                    <button class="profile-button" (click)="toggleDropdown()">
                        Mi perfil
                    </button>
                    <div class="dropdown-menu" *ngIf="isDropdownOpen">
                        <a [routerLink]="['/perfil', role, username]">Ver mi perfil</a>
                        <a (click)="cerrarSesion()">Cerrar sesión</a>
                    </div>
                </div>
            </div>

            <!-- TODO INICIAR SESION -->
            <div class="iniciar" *ngIf="isRegistroPage">
                <li>¿Ya tienes cuenta?</li>
                <li>
                    <button><a [routerLink]="['/login']" (click)="onLonginClick()">Iniciar Sesion</a></button>
                </li>
            </div>
            <!-- TODO PARA REGISTRARSE -->
            <div class="resgistrarse" *ngIf="isLoginPage">
                <li><a [routerLink]="['/signup']">¿No tienes cuenta?</a></li>
            </div>
        </ul>
    </nav>
    <!-- TODO: BUSCADOR DE LA PAGINA -->
    <!-- <div class="input-wrapper">
        <button class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff"
                    d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z">
                </path>
                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="#fff" d="M22 22L20 20">
                </path>
            </svg>
        </button>
        <input placeholder="search.." class="input" name="text" type="text">
    </div> -->

</header>