<div class="dialog">

    <div class="texto">

        <h1>¡Hola! Antes de acceder a tu perfil</h1>
        <h2>Tendremos que acabar la configuracion del perfil</h2>
        <p>¿Quieres continuar?</p>
        <p>Si no lo haces, no podrás acceder a tu perfil</p>
        <p>Por favor, presiona el botón para continuar.</p>
        <h3>¡Listo para continuar!</h3>
        <p>¡Haz clic en el botón para proceder!</p>
    </div>
    <div class="button">
        <p>Boton para acceder a la configuracion: </p>
        <button class="btn-53" [routerLink]="['/dashboard/settings/perfilsetting']">
            <div class="original">CLICK!</div>
            <div class="letters">
                
                <span>C</span>
                <span>L</span>
                <span>I</span>
                <span>C</span>
                <span>K</span>
                <span>!</span>
            </div>
        </button>
    </div>
</div>

