<!-- 
    texto reseña
    autor_id
    tipo
    buscar el nombre de la multimedia
-->

<div class="form-container">
    <form [formGroup]="reviewsForm" (ngSubmit)="onSubmit()">
        <!-- Usuario que crea -->
        <div class="form-group">
            <label for="creado">Creado por: </label>
            <img [src]="imagen_perfil" alt="Imagen de perfil">
            <input type="text" id="creado" name="creado" [value]="username" readonly>
        </div>

        <!-- Titulo -->
        <div class="form-group">
            <label>Título*</label>
            <input type="text" formControlName="titulo" class="form-input" required>
        </div>
        <!-- Buscador del contenido multimedia -->
        <div class="form-group">
            <label>Multimedia*</label>
            <input type="text" class="form-input" (input)="buscarContenido($event)"
                [value]="contenidoSeleccionado?.titulo || ''" placeholder="Buscar por título">
            <!-- Lista de sugerencias -->
            <ul *ngIf="resultadosBusqueda.length && !contenidoSeleccionado">
                <li *ngFor="let item of resultadosBusqueda" (click)="seleccionarContenido(item)">
                    {{ item.titulo }}
                </li>
            </ul>
        </div>

        <!-- Puntuación -->
        <div class="form-group">
            <label>Puntuación*</label>
            <input type="number" formControlName="puntuacion" class="form-input" required>
        </div>

        <!-- Tipo multimedia -->
        <div class="form-group">
            <label>Tipo multimedia*</label>
            <select formControlName="tipo" class="form-input" required>
                <option value="" disabled>Selecciona una opción</option>
                <option value="pelicula">Pelicula</option>
                <option value="videojuego">Videojuego</option>
                <option value="serie">Serie</option>
                <option value="libro">Libro</option>
            </select>
        </div>

        <!-- Fecha de creación -->
        <div class="form-group">
            <label>Creado* </label>
            <div class="fechahora">
                <input type="date" formControlName="fechaCreacion" class="fecha" required>
                <input type="time" formControlName="horaCreacion" class="hora" required>
            </div>
        </div>

        <!-- Contenido -->
        <div class="form-group content-area">
            <label>Contenido</label>
            <textarea formControlName="texto" class="form-textarea"></textarea>
        </div>
        <button type="submit" class="submit-button">guardar</button>
    </form>
</div>