<div class="parent">
    <div class="div1">
        <img [src]="currentImgLng" alt="IMAGENES">
    </div>
    <div class="div2">
        <h1>Iniciar Sesion</h1>
    </div>
    <div class="div3">
        <form class="form">
            <!-- TODO EMAIL -->
            <span class="input-span">
                <label for="email" class="label">Email</label>
                <input type="email" name="email" id="email" />
            </span>
            <!-- TODO CONTRASEÑA -->
            <span class="input-span">
                <label for="password" class="label">Contraseña</label>
                <input [type]="showPass ? 'text':'password'" name="password" id="password" class="pass"/>
                <button type="button" class="ver-pass" (click)="togglePass()">
                    <i class="fas" [class.fa-eye]="!showPass" [class.fa-eye-slash]="showPass">👁️</i>
                </button>
            </span>
            <!-- <span class="span"><a href="">No me acuerdo de la contraseña</a></span> -->
            <input class="submit" type="submit" value="Iniciar sesion" />
        </form>
    </div>
</div>