<h1>Multimedia</h1>

<nav>
    <ul class="nav-tabs">
        <li *ngFor="let tab of tabs" class="nav-item" [class.active]="activeTab === tab" (click)="setActiveTab(tab)">
            {{tab}}
        </li>
        <li>
            <div class="input-wrapper">
                <button class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="25px" width="25px">
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="black"
                            d="M11.5 21C16.7467 21 21 16.7467 21 11.5C21 6.25329 16.7467 2 11.5 2C6.25329 2 2 6.25329 2 11.5C2 16.7467 6.25329 21 11.5 21Z">
                        </path>
                        <path stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" stroke="black"
                            d="M22 22L20 20"></path>
                    </svg>
                </button>
                <input placeholder="search.." class="input" name="text" type="text" (input)="search($event)">
            </div>
        </li>
    </ul>
</nav>

<div class="content-area">
    <div class="media-card" *ngFor="let media of filteredMultimedia">
        <div class="media-image">
            <img [src]="media.imagen_url" alt="IMAGEN NO DISPOBIBLE">
        </div>
        <div class="media-info">
            <div>
                <strong>Título {{activeTab}}:</strong>
                <p>{{ media.titulo }}</p>
                

            </div>
            <a [routerLink]="['/dashboard/multimedia/multimediaviews', media.id]" class="more-info">Más Información</a>
        </div>

    </div>
</div>

<div class="separador"></div>
<div class="container_reviews">

    <div class="container2">

        <h1>Comunidad</h1>
        <p>Últimas <span>“Reviews”</span> de los usuarios</p>
        <button [routerLink]="['/dashboard/settings/reviessettings/reviewssettings']">Agregar Review</button>
    </div>
    <div class="filtro">
        <label for="">Tipo de multimedia</label>
        <select (change)="filtrarReviews($event)">
            <option value="all">Todos</option>
            <option value="videojuego">Videojuegos</option>
            <option value="serie">Series</option>
            <option value="pelicula">Peliculas</option>
            <option value="libro">Libros</option>
        </select>
    </div>
    
    <div class="reviews" *ngFor="let review of reviews">

        <div class="reviews">
            <button>VER MÁS CONTENIDO</button>
            <div class="separador"></div>    
        </div>
    </div>
    
    
    
</div>
    