<h1>Configuración de Mi Biblioteca</h1>
<div class="form-container">
    <form [formGroup]="biblioSettings" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="creado">Creado Por:</label>
            <img [src]="imagen_perfil" alt="imagen_perfil" width="40" height="40">
            <input type="text" id="creado" name="creado" [value]="username" class="form-input" disabled />
        </div>

        <div class="form-group">
            <label for="tipo">Tipo *</label>
            <select id="tipo" formControlName="tipo" class="form-input" required>
                <option value="" disabled>Seleccionar tipo</option>
                <option value="libro">Libro</option>
                <option value="pelicula">Película</option>
                <option value="serie">Serie</option>
                <option value="videojuego">Videojuego</option>
            </select>
        </div>

        <!-- Buscador de contenido -->
        <div class="form-group">
            <div class="form-group">
                <label>Multimedia*</label>
                <input type="text" class="form-input" (input)="buscarContenido($event)"
                    [value]="contenidoSeleccionado?.titulo || ''" placeholder="Buscar por título">
                <!-- Lista de sugerencias -->
                <ul *ngIf="resultadosBusqueda.length && !contenidoSeleccionado">
                    <li *ngFor="let item of resultadosBusqueda" (click)="seleccionarContenido(item)">
                        {{ item.titulo }}
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <label>Clasificación</label>
                <input type="number" formControlName="calificacion" class="form-input"
                    placeholder="Clasificación (0-5)">
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <select id="estado" formControlName="estado" class="form-input" required>
                    <option value="" disabled>Seleccionar estado</option>
                    <option value="Pendiente">Pendiente</option>
                    <option value="Completado">Completado</option>
                </select>
            </div>

            <div class="form-group">
                <label for="agregado">Dia de comienzo </label>
                <input type="date" formControlName="agregado" class="form-input">
                <input type="time" formControlName="agregado" class="form-input">

            </div>
            <div class="form-group">
                <label for="agregado">Dia de finalizacion</label>
                <input type="date" formControlName="finalizado" class="form-input">
                <input type="time" formControlName="finalizado" class="form-input">

            </div>

            <div class="form-group">
                <label>Comentario</label>
                <textarea formControlName="comentario" class="form-textarea"
                    placeholder="Escribe un comentario"></textarea>
            </div>

            <button type="submit" class="submit-button">
                Guardar
            </button>

        </div>
    </form>